#Aboutme {
    width: 100%;
    height: 66vh;
    background-image: url('../assets/home1.png');
    background-size: 500px;
    border-image-width: 10px;
    background-position: right;
    background-repeat: no-repeat;
}

/* Estilo do título */
#Aboutme h2 {
    font-size: 2rem; /* Tamanho do texto do título */
    color: olive; /* Cor do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    margin-left: 10px;
    margin-top: 0px;
}

/* Estilo do contêiner do parágrafo */
.about {
    max-width: 400px; /* Define a largura máxima para o parágrafo */
    text-align: justify; /* Garante que o texto esteja alinhado à esquerda */
    margin-left: 10px;

}

/* Estilo do parágrafo */
.about p {
    color: #000; /* Cor preta para o texto */
    font-size: small; /* Tamanho menor para o texto */
    margin-bottom: 15px; /* Espaço entre parágrafos */
}

/* Remove o espaço após o último parágrafo */
.about p:last-child {
    margin-bottom: 0; /* Remove a margem inferior do último parágrafo */
}

.about p.last{
    font-weight: bold;
}


