header {
    width: 100%; /* Garante que o header ocupe 100% da largura da tela */
    height: 60px; /* Ajuste a altura conforme necessário */
    background-color: peachpuff;
    color: olivedrab;
    display: flex;
    justify-content: space-between; /* Espaço entre título e navegação */
    align-items: center; /* Centraliza verticalmente */
    padding: 0 20px; /* Adiciona espaçamento interno nas laterais */
    position: fixed; /* Mantém o header fixo no topo */
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


header h1 {
    font-size: 16px;
    color: olivedrab;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 600;
}

nav {
    display: flex;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: -10px;
    display: flex; /* Alinha os itens da lista horizontalmente */
    margin-bottom: 0px;
}

nav ul li a {
    color: olivedrab;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-right: 30px;
    align-content: center;
    font-weight: bold;
}

nav ul li a:hover {
    color: peachpuff;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        height: auto; /* Permite que o header se ajuste conforme o conteúdo */
        padding: 0px; /* Reduz o padding para telas menores */
    }

    header h1 {
        font-size: 14px; /* Reduz o tamanho do título em telas menores */
        text-align: center;
        margin-bottom: 10px; /* Adiciona espaço abaixo do título para evitar sobreposição */
        flex: 100%; /* Ocupa toda a largura disponível */
    }

    nav {
        margin-left: 0;
    }

    nav ul li a {
        font-size: 14px; /* Reduz o tamanho dos links em telas menores */
        margin-right: 10px; /* Diminui o espaço entre os links */
    }
}
