/* styles/Resume.css */

section#Resume {
    background: #f9f9f9; /* Cor de fundo suave para a seção */
    padding: 40px 20px; /* Espaçamento interno */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 30px; /* Espaçamento abaixo da seção */
    max-width: 900px; /* Largura máxima ajustada */
    margin: 0 auto; /* Centraliza a seção */
    text-align: center; /* Centraliza o texto na seção */
    margin-left: 270px;
}

section#Resume h2 {
    color: #333; /* Cor do título */
    font-size: 1.0rem; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

section#Resume p {
    color: #666; /* Cor do parágrafo */
    font-size: 0.8rem; /* Tamanho da fonte do parágrafo */
    margin-bottom: 20px; /* Espaçamento abaixo do parágrafo */
    line-height: 1.6; /* Melhora a legibilidade do texto */
}

.download-image {
    margin-right: 8px; /* Espaço entre a imagem e o texto */
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    object-fit: contain; /* Garante que a imagem mantenha suas proporções */
}
